body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Remover rolagem */
  }
  
  #video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .container {
    position: fixed; /* Tornar o contêiner fixo */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Remover rolagem */
  }
  
  .circle-image {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 150px; /* Maior distância do botão */
  margin-top: -30px; /* Distância do topo da página */
  }
  
  .circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #botao-comprar {
    padding: 20px 40px;
    font-size: 20px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 25px; /* Bordas arredondadas */
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s; /* Adicionando transição para a cor de fundo e a sombra */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Adicionando uma sombra suave */
      text-decoration: none; /* Remover sublinhado */
  font-weight: bold; /* Fonte mais forte */
  font-family: 'Roboto', sans-serif; /* Nova fonte */
}

#botao-comprar:hover {
  background-color:#040668 ; /* Cor de destaque ao passar o mouse */
}

.botao-clicked {
  background-color: #4CAF50;
}
